/* FONTS */
@font-face {
  font-family: "Nitti";
  src: url("../fonts/Nitti-Normal.woff2");
  src:
    url("../fonts/Nitti-Normal.woff2?#iefix") format("embedded-opentype"),
    url("../fonts/Nitti-Normal.woff2") format("woff2"),
    url("../fonts/Nitti-Normal.woff") format("woff"),
    url("../fonts/Nitti-Normal.ttf") format("truetype"),
    url("../fonts/Nitti-Normal.svg#svgFontName") format("svg");
}


:root {
  --background: #f5f5f5;
  --primary: #0f02d0;
  --secondary: #fe3902;
  --border: #69a4ff;
  --text: #0f02d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nitti, monospace;
  line-height: 1.6;
  color: var(--primary);
  background-color: var(--background);
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
  color: var(--background);
  letter-spacing: -2px;
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 6px;
  text-underline-offset: -5px;
}

a {
  color: var(--background);
  text-decoration: none;
  cursor: pointer;
}

p {
  letter-spacing: normal;
}

li {
  list-style: none;
}

/* MAIN CONTENT */

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 368px 1fr;
  gap: 16px;
  position: relative;
}

/* NAVIGATION */
/* ------------------- */

.site_header {
  background-color: var(--primary);
  border: 1.5px solid var(--border);
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  padding: 24px 16px;
  position: sticky;
  top: 0;
  left: 0;
  width: 368px;
  z-index: 100;
  scrollbar-width: none;
}

.nav_wrapper {
  display: grid;
  gap: 32px;
  margin-top: 32px;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.list_header {
  color: var(--background);
  text-transform: uppercase;
  font-size: 16px;
}

.nav_line {
  width: 48px;
  height: 1.5px;
  background-color: var(--background);
  margin-top: 10px;
}

.nav_lists {
  display: flex;
  flex-direction: column;
}

.nav_link {
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
}

.nav_link:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary);
}

.nav_footer {
  display: flex;
}

/* FORM */
/* ------------------- */

.nav_form {
  display: none;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  background: none;
  font-family: inherit;
}

.nav_label {
  font-size: 14px;
  color: var(--background);
  font-weight: bold;
  letter-spacing: 0.3px;
  font-family: inherit;
}

.nav_input,
.nav_select {
  padding: 10px 12px;
  border: 1.5px solid var(--border);
  background-color: transparent;
  border-radius: 4px;
  font-size: 1em;
  color: var(--primary);
  font-family: inherit;
  transition:
    border 0.2s,
    background 0.2s;
  outline: none;
}

.nav_select {
  background-color: var(--background);
}

.nav_input:focus,
.nav_select:focus {
  border: 1.5px solid var(--secondary);
  background: var(--background);
  color: var(--primary);
}

.nav_input::placeholder {
  color: var(--border);
  opacity: 0.7;
}

.nav_button {
  padding: 10px 0;
  background-color: var(--secondary);
  color: var(--background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 8px;
  transition:
    background 0.17s,
    color 0.17s;
}

.nav_button:hover,
.nav_button:focus {
  background: var(--background);
  color: var(--secondary);
  outline: none;
}

/* MAIN CONTAINER */
/* ------------------- */

.content_body {
  padding: 16px;
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: grid;
  gap: 24px;
}

.highlight {
  color: var(--secondary);
}


/* BODY CONTAINER */
/* ------------------- */

.body_container {
  border: 1px solid var(--border);
  border-radius: 4px;
  color: var(--background);
  position: relative;
  box-sizing: border-box;
  height: fit-content;
}

.body_container .container_label {
  position: absolute;
  top: -14px;
  left: 18px;
  background: var(--background);
  padding: 0 12px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  color: var(--secondary);
  letter-spacing: 1px;
}

/* ACCORDION */
/* ------------------- */

.accordion {
  width: 100%;
  padding: 8px;
  position: relative;
}
.accordion_title {
  position: relative;
  padding: 8px;
  background-color: var(--primary);
  color: var(--background);
  user-select: none;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 14px 18px 14px 38px;
}
.accordion_title::before {
  content: "+";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  font-size: 20px;
  color: var(--border);
  padding-left: 8px;
  display: inline-block;
}
details[open] > .accordion_title::before {
  content: "-";
  color: var(--border);
}
.accordion_content {
  padding: 0 8px;
  background-color: var(--background);
  color: var(--text);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.7s ease-in-out,
    opacity 0.5s ease-in-out,
    padding 0.3s;
}

details[open] .accordion_content {
  padding: 8px;
  max-height: 500px; /* Adjust based on your content size */
  opacity: 1;
}


/* LINKS CONTAINER */
.links_container {
  padding: 16px 8px;
}

#links-table {
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
  font-size: 14px;
  background: var(--background);
  color: var(--text);
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

#links-table thead tr {
  background: var(--primary);
  color: var(--background);
}

#links-table th, #links-table td {
  padding: 7px 10px;
  text-align: left;
  font-weight: normal;

}

#links-table thead td {
  font-weight: bold;
  color: var(--background);
  font-size: 14px;
  letter-spacing: 0.5px;
  background: var(--primary);
}

#links-table tbody {
  border: 1px solid var(--border);
  border-top: 1px solid var(--background);
}

#links-table tbody tr {
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  transition: background 0.18s;
}

#links-table tbody tr:hover {
  background: var(--secondary);
  color: var(--background);
}

#links-table .table_link {
  width: 90px;
}

 #links-table .table_num {
  width: 70px;
}

#links-table a {
  color: var(--text);
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  transition: color 0.18s;
}
#links-table a:hover {
  color: var(--background);
  text-decoration: underline;
}


/* MEDIA QUERIES */
/* ------------------- */

@media (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0;
    position: relative;
  }

  .site_header {
    max-height: none;
    height: auto;
    min-height: 0;
    width: 100vw;
    padding: 16px;
    border: none;
    border-bottom: 2px solid var(--border);
    position: static;
    overflow-y: visible;
  }

  .nav_bar {
    flex-direction: column;
    gap: 1px;
  }

  .nav_wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 10px;
  }

  .nav_lists {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 16px;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav_list {
    list-style: circle;
  }
  .container_body {
    padding: 12px 6vw 40px 6vw;
  }

  .nav_footer {
    margin-top: 18px;
  }
  h2 {
    font-size: 1.1rem;
    text-decoration-thickness: 4px;
    margin-bottom: 0.7rem;
  }
  .nav_link {
    padding: 10px 0;
    font-size: 1.02rem;
  }
  .nav_form {
    display: none;
  }
  .nav_footer {
    margin-top: 0;
    display: none;
  }

  /* MAIN SITE */

  .content_body {
    margin-left: 0;
    width: 100%;
    padding: 16px;
  }
}
